.VacationsList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
  margin: 0 auto;
  }
  

  .vacation-card {
    width: 100%;
    height: 100%;
  }

  .VacationsList .pagination {
    display: flex;
    margin-bottom: 50px;
  }