.VacationsList {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;  */
}

.VacationsList > .VacationsList-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
}

.VacationsList > .vacation-card {
  width: 100%;
  height: 100%;
}

.pagination {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
